<div class="meta-preview-box" aria-hidden="true">
    <h2>Facebook preview</h2>
    <div class="meta-preview-box-container">
        <div class="meta-facebook-author">
            <div class="meta-facebook-avatar"></div>
            <div class="meta-facebook-author-name"><span class="meta-facebook-link-bold">Facebook User</span> has shared a <span class="meta-facebook-link">link</span><br><span class="meta-facebeook-time">Yesterday 13:37</span></div>
            <!-- <div class="meta-facebook-author-handle">@some_facebook_user</div> -->
        </div>
        <div class="meta-facebook-text">
            Look at this awesome article!
        </div>

        <div class="meta-facebook-preview">
            <div class="meta-facebook-preview-image" style="background-image: url('{{ default_image}}')">
            </div>
            <div class="meta-facebook-preview-content">
                <div class="meta-facebook-preview-link">site.com</div>
                <h2 class="meta-preview-box-title">{{ default_title }}</h2>
                <div class="meta-preview-box-description">{{ default_description }}</div>
            </div>
        </div>
    </div>
</div>
