<div class="meta-preview-box" aria-hidden="true">
    <div class="meta-preview-box-container">
        <div class="meta-facebook-author">
            <div class="meta-facebook-avatar"></div>
            <div class="meta-facebook-author-name">Facebook User</div>
            <div class="meta-facebook-author-handle">@some_facebook_user</div>
        </div>
        <div class="meta-facebook-text">
            Look at this awesome article!
        </div>

        <div class="meta-facebook-preview">
            <div class="meta-facebook-preview-image" style="background-image: url('{{ default_image}}')">
            </div>
            <div class="meta-facebook-preview-content">
                <h2 class="meta-preview-box-title">{{ default_title }}</h2>
                <div class="meta-preview-box-description">{{ default_description }}</div>
                <div class="meta-facebook-preview-link">site.com</div>
            </div>
        </div>
    </div>
</div>
