<div class="meta-preview-box" aria-hidden="true">
    <h2>Google preview</h2>
    <div class="meta-preview-box-container">
        <div class="meta-google-preview">
            <div class="meta-google-preview-content">
                <div class="meta-google-preview-link">site.com</div>
                <h2 class="meta-preview-box-title">{{ default_title }}</h2>
                <div class="meta-preview-box-description">{{ default_description }}</div>
            </div>
        </div>
    </div>
</div>
