.meta-preview {
    display: flex;
}
.meta-preview fieldset,
.meta-preview .meta-preview-box {
    width: 50%;
    padding: 2em;
    padding-top: 52px;
}

@media screen and (max-width: 992px) {
    .meta-preview {
        display: flex;
        flex-wrap: wrap;
    }

    .meta-preview--single {
        width: 100%;
    }

    .meta-preview fieldset,
    .meta-preview .meta-preview-box {
        width: 100%;
        padding: 2em;
        padding-top: 52px;
    }
}

.meta-preview-box-container {
    position: relative;
    padding: 12px 12px 8px 54px;
    text-align: left;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
}

/* Twitter */

.meta-twitter-author {
	position: relative;
    margin-right: 75px;
    margin-bottom: 10px;
}

.meta-twitter-avatar {
    position: absolute;
    top: 3px;
    left: -42px;
    width: 32px;
    height: 32px;
    border-radius: 4px;
	background-color: #f1f1f1;
}

.meta-twitter-author-name {
	float: left;
    margin-right: 4px;
    font-size: 14px;
    font-weight: 700;
    color: #333;
}

.meta-twitter-author-handle {
	float: left;
	padding: 0;
    margin-top: 2px;
    margin-left: 2px;
    font-size: 12px;
    color: #999;
}

.meta-twitter-text {
	clear: both;
    font-size: 14px;
    color: #555;
}

.meta-twitter-preview {
	border-radius: .85714em;
    border-width: 1px;
    border-style: solid;
    border-color: #E1E8ED;
    box-sizing: border-box;
    color: inherit!important;
    max-width: 800px;
    overflow: hidden;
	/* display: flex; */
    min-height: 90px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.meta-twitter-preview-image {
    background-color: #f1f1f1;
    width: 100%;
    clear: both;
    float: left;
    height: 399px;
    background-size: cover;
    background-position: center center;
}

.meta-twitter-preview-content {
    overflow: hidden;
    padding: .75em;
    float:left;
    clear: both;
    width: 100%;
}

.meta-twitter-preview-content h2.meta-preview-box-title {
    max-height: 1.3em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.2em;
    margin: 0 0 .15em;
    font-weight: bold;
    text-transform: none;
}

.meta-twitter-preview-content .meta-preview-box-description {
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.3em;
    max-height: 3.9em;
    margin-top: .32333em;
}

.meta-twitter-preview-link {
    text-transform: lowercase;
    color: #8899A6;
    max-height: 1.3em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: .32333em;
}

/* Facebook */

.meta-facebook-author {
    display: flex;
	position: relative;
    margin-right: 75px;
    padding: 8px;
}

.meta-facebook-avatar {
	background-color: #f1f1f1;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 8px;
}

.meta-facebook-author-name {
	float: left;
    margin-right: 4px;
    font-size: 14px;
    color: #333;
}
.meta-facebook-link-bold {
    color: #385898;
    font-weight: bold;
}
.meta-facebook-link {
    color: #385898;
}

.meta-facebook-author-handle {
	float: left;
	padding: 0;
    margin-top: 2px;
    margin-left: 2px;
    font-size: 12px;
    color: #999;
}

.meta-facebook-text {
	clear: both;
    font-size: 14px;
    color: #555;
    padding: 8px;
}

.meta-facebook-preview {
	margin: 0;
    box-sizing: border-box;
    color: inherit!important;
    max-width: 550px;
    overflow: hidden;
	/* display: flex; */
    min-height: 90px;
    margin-top: .32333em;
    margin-bottom: 0;
}

.meta-facebook-preview-image {
    background-color: #f1f1f1;
    width: 100%;
    clear: both;
    float: left;
    height: 399px;
    background-size: cover;
    background-position: center center;
}

.meta-facebook-preview-content {
    overflow: hidden;
    padding: 8px;
    float:left;
    clear: both;
    width: 100%;
    background-color: #f1f1f1;
}

.meta-facebook-preview-content h2.meta-preview-box-title {
    max-height: 1.3em;
    white-space: nowrap;
    color: #1d2129;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.2em;
    margin: 0 0 .15em;
    font-weight: bold;
    text-transform: none;
}

.meta-facebook-preview-content .meta-preview-box-description {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.3em;
    max-height: 3.9em;
    margin-top: .32333em;
}

.meta-facebook-preview-link {
    text-transform: lowercase;
    color: #8899A6;
    max-height: 1.3em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: .32333em;
}

/* General facebook overrides */

.facebook-preview-panel .meta-preview .meta-preview-box {
    width: 50%;
    padding-top: 52px;
}

.facebook-preview-panel .meta-preview-box-container {
    position: relative;
    padding: 0;
    text-align: left;
    border-radius: 0;
    max-width: 550px;
}

/* Google */

.meta-google-text {
	clear: both;
    font-size: 14px;
    color: #555;
    padding: 8px;
}

.meta-google-preview {
	margin: 0;
    box-sizing: border-box;
    color: inherit!important;
    max-width: 800px;
    overflow: hidden;
	/* display: flex; */
    min-height: 90px;
    margin-top: .32333em;
    margin-bottom: 0;
}

.meta-google-preview-content {
    overflow: hidden;
    float:left;
    clear: both;
    width: 100%;
}

.meta-google-preview-content h2.meta-preview-box-title {
    font-family: arial,sans-serif;
    max-height: 1.3em;
    color: #1a0dab;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.3em;
    margin: .3em 0 .15em;
    font-weight: 400;
    text-transform: none;
}

.meta-google-preview-content .meta-preview-box-description {
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.1em;
    font-family: arial ,sans-serif;
    line-height: 1.3em;
    font-weight: 400;
    margin-top: .32333em;
}

.meta-google-preview-link {
    text-transform: lowercase;
    color: #000;
    max-height: 1.3em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: .32333em;
}

/* General google overrides */

.google-preview-panel .meta-preview .meta-preview-box {
    width: 50%;
    padding-top: 52px;
}

.google-preview-panel .meta-preview-box-container {
    position: relative;
    padding: 0;
    text-align: left;
    border-radius: 0;
    border: none;
}
